@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  /* margin: 10px;
  height: calc(100vh - 20px); */
  height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch;
}
